{
    "berlin": {
        "name": "Berlin",
        "description": "The Wikipedia page of Berlin and 2 hops away",
        "data_directory": "{{PROJECT_ROOT}}/data/tmp/test_berlin"
    },
    "mathematics": {
        "name": "Mathematics",
        "default": true,
        "description": "The Wikipedia page of Mathematics and 2 hops away",
        "data_directory": "{{PROJECT_ROOT}}/data/tmp/test_mathematics"
    },
    "scraper_test": {
        "name": "Scraper Test Scraping Berlin",
        "default": true,
        "description": "The Wikipedia page of Berlin - no hops away",
        "data_directory": "{{PROJECT_ROOT}}/data/tmp/test_scraper_wikipedia_berlin",
        "scraper": {
            "scraper_type": "wikipedia",
            "target_dir": "{{PROJECT_ROOT}}/data/tmp/test_scraper_wikipedia",
            "start_page_title": "Berlin"
        }
    }
}