{
    "berlin": {
        "name": "Berlin",
        "description": "The Wikipedia page of Berlin and 2 hops away",
        "project_root": "{{PROJECT_ROOT}}",
        "data_directory": "{{DATA_DIRECTORY}}"
    }
}